<page-loader *ngIf="loading; else content"></page-loader>

<ng-template #content>

  <div class="users-list">
    <div class="container">

      <header class="users-list-header">
        <button
          (click)="openCreateUserModal()"
          type="button"
          class="btn btn-primary">
          Create User
        </button>
      </header>

      <div
        *ngIf="usersList.length; else emptyListMessage"
        class="users-list-table">
        <table>
          <thead>
          <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Type</th>
          </tr>
          </thead>
          <tbody>
          <tr
            (click)="openEditUserModal(user)"
            *ngFor="let user of usersList">
            <td>
              {{user.userName}}
            </td>
            <td>
              {{user.firstName}}
            </td>
            <td>
              {{user.lastName}}
            </td>
            <td>
              {{user.email}}
            </td>
            <td>
              {{user.userType}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <ng-template #emptyListMessage>
        <p class="empty-list-message">
          There are no users yet
        </p>
      </ng-template>

    </div>
  </div>
</ng-template>
