@import '../../../styles/colors';

.users-list {
  padding: 48px 24px;

  .users-list-header {
    text-align: right;
  }

  .users-list-table {
    margin-top: 16px;
    box-shadow: 0 0 30px #523F690D;
    border: 1px solid $secondaryBg;
    border-radius: 6px;
    padding-bottom: 78px;
    user-select: none;
    background-color: #fff;
    overflow: auto;

    table {
      min-width: 800px;
      width: 100%;
      border-collapse: collapse;

      thead {

        th {
          text-align: left;
          padding: 24px 0;
          font: normal normal bold 13px/16px Helvetica;
          letter-spacing: 0;
          color: #A4A4B5;
          text-transform: uppercase;

          &:first-child {
            padding-left: 24px;
          }
        }
      }

      tbody {
        tr {
          background: #F4F5F8;
          border-bottom: 2px solid #fff;
          transition: all 0.3s ease;
          cursor: pointer;

          &:last-child {
            border: none;
          }

          &:hover {
            background: #EFF0F4 0% 0% no-repeat padding-box;
          }
        }

        td {
          padding: 24px 0;
          text-align: left;
          font: normal normal normal 13px/16px Helvetica;
          letter-spacing: 0;
          color: #3F4254;

          &:first-child {
            padding-left: 24px;
          }
        }
      }
    }
  }

  .empty-list-message {
    text-align: center;
    margin-top: 48px;
  }
}
