@import '../../../../styles/colors';

.input-field {
  margin: 16px 0;

  label {
    text-align: left;
    font: normal normal normal 13px/16px Helvetica;
    color: #3F4254;
    margin-bottom: 3px;
  }

  input {
    display: block;
    background: #F3F6F9;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 16px;
    outline: none;
    width: 100%;
    text-align: left;
    font: normal normal 300 13px/16px Helvetica;
    color: #3F4254;
  }

  &-error-message {
    text-align: left;
    font: normal normal normal 13px/16px Helvetica;
    color: $errorColor;
    margin-top: 3px;
  }

  &-has-error {
    .input-field-dot-required {
      color: $errorColor;
    }

    input {
      border-color: $errorColor;
    }
  }

}
