<div
  [ngClass]="{'input-field-has-error': errorMessage || validation.errors[controlName]}"
  class="input-field">
  <label>
    {{label}}
    <span
      class="input-field-dot-required"
      *ngIf="required">*</span>
  </label>

  <input
    [formControl]="control"
    [placeholder]="placeholder || label"
    [type]="type"
    [autocomplete]="autocomplete"
    [attr.minlength]="minlength ? minlength : null"
    [attr.maxlength]="maxlength ? maxlength : null"
    [attr.min]="min !== undefined ? min : null"
    [attr.max]="max !== undefined ? max : null"
    formValidate
    [validation]="validation"
    [controlName]="controlName">

  <div
    *ngIf="errorMessage; else validationError"
    class="input-field-error-message">
    {{errorMessage}}
  </div>

  <ng-template #validationError>
    <div
      *ngIf="validation.errors[controlName]"
      class="input-field-error-message">
      {{validation.errors[controlName]}}
    </div>
  </ng-template>
</div>
