<div class="modal">
  <header class="modal-header">
    <h2 class="modal-header-title">{{title || 'Modal'}}</h2>
    <span class="modal-close" (click)="close()">✕</span>
  </header>
  <div class="modal-content">
    <ng-content></ng-content>
  </div>
</div>

<div class="modal-backdrop" (click)="close()"></div>
