.modal {
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
  padding: 24px;

  .modal-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 20px;

    &-title {
      text-align: left;
      font: normal normal bold 16px/19px Helvetica;
      color: #3F4254;
    }

    .modal-close {
      cursor: pointer;
    }
  }
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
