@import 'colors';

html {
  box-sizing: border-box;
  font-size: 16px;
  min-width: 320px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1218px;
  margin: 0 auto;
}

.btn {
  font-size: 17px;
  padding: 16px 22px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  min-width: 120px;
  font: normal normal normal 14px/17px Helvetica;

  &.btn-primary {
    background-color: $primaryColor;
    box-shadow: 0 5px 8px #2E8FF029;
    transition: all 0.2s ease;

    &:hover {
      background-color: darken($primaryColor, 10%);
    }
  }

  &.btn-error {
    background-color: $errorColor;
    box-shadow: 0 5px 8px #F4468229;
    transition: all 0.2s ease;

    &:hover {
      background-color: darken($errorColor, 10%);
    }
  }
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.error-page {
  padding: 24px;

  .error-page-message {
    text-align: center;
    font-size: 24px;
  }
}

