<div
  class="select-field">
  <label>
    {{label}}
  </label>

  <select
    [formControl]="control"
    name="select">
    <option
      *ngFor="let option of options | keyvalue"
      [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>
