<div
  class="user-form">
  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    novalidate>

    <input-field
      [form]="form"
      [controlName]="FormParameter.USER_NAME"
      type="text"
      label="Username">
    </input-field>

    <input-field
      [form]="form"
      [controlName]="FormParameter.FIRST_NAME"
      type="text"
      label="First name">
    </input-field>

    <input-field
      [form]="form"
      [controlName]="FormParameter.LAST_NAME"
      type="text"
      label="Last name">
    </input-field>

    <input-field
      [form]="form"
      [controlName]="FormParameter.EMAIL"
      type="email"
      label="Email">
    </input-field>

    <select-field
      [form]="form"
      [controlName]="FormParameter.USER_TYPE"
      label="Type"
      [options]="userType">
    </select-field>

    <input-field
      [form]="form"
      [controlName]="FormParameter.PASSWORD"
      type="password"
      label="Password">
    </input-field>

    <input-field
      [form]="form"
      [controlName]="FormParameter.PASSWORD_CONFIRM"
      type="password"
      label="Repeat password"
      [errorMessage]="form.hasError('notSame') ? 'Passwords do not match' : ''">
    </input-field>

    <footer
      *ngIf="isEdit"
      class="users-form-footer d-flex justify-space-between">
      <button
        (click)="deleteUser()"
        type="button"
        class="btn btn-error">
        Delete
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        formSubmit
        [validationControl]="form">
        Save
      </button>
    </footer>

    <footer
      *ngIf="!isEdit"
      class="users-form-footer">
      <button
        type="submit"
        class="btn btn-primary"
        formSubmit
        [validationControl]="form">
        Create
      </button>
    </footer>
  </form>
</div>
