@import '../../../../styles/colors';

.notification {
  z-index: 9999;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 280px;
  max-width: 100%;
  height: auto;
  background-color: #000;
  border-radius: 6px;
  padding: 24px;
  text-align: left;
  font: normal normal normal 13px/16px Helvetica;
  color: #fff;
  cursor: pointer;

  .notification-title {
    font-size: 18px;
  }

  &-success {
    background: $successColor 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 15px #4CAF505C;
  }

  &-error {
    background: $errorColor 0% 0% no-repeat padding-box;
    box-shadow: 0 10px 15px #EF7DA05C;
  }
}
